<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Account</title>

        <link href="/css/styles.css" rel="stylesheet" />

    </head>
    <body>
        <sec:authentication property="name" var="username" />
        <div class="container">
            <div class="card card--account">
                <div class="account-header">
                    <svg style="fill: #9c9c9c;" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation">
                        <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 3c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm0 14.2c-2.5 0-4.71-1.28-6-3.22.03-1.99 4-3.08 6-3.08 1.99 0 5.97 1.09 6 3.08-1.29 1.94-3.5 3.22-6 3.22z"></path>
                        <path fill="none" d="M0 0h24v24H0z"></path>
                    </svg>
                    <div>
                        <h1 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]!</h1>
                        <p>You have successfully signed in. On this page you will find the security settings for your account.</p>
                    </div>
                </div>

                <div class="card card--internal">
                    <h2 class="section-header">Security Keys</h2>
                    <div th:if="${registrations.empty}" class="card card--error" id="no-keys">
                        <svg focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation">
                            <path fill="none" d="M0 0h24v24H0z"></path><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"></path>
                        </svg>
                        <p>Warning, no authenticators have been added and your account is not secure. Configure authenticators below.</p>
                    </div>
                    <table class="table" id="keys" th:classappend="${registrations.empty}? 'hide'">
                        <thead>
                            <tr>
                                <th> Nickname </th>
                                <th> Registration Time </th>
                            </tr>
                        </thead>
                        <tbody id="keys">
                            <tr th:each="registration : ${registrations}" >
                                <td><span th:text="${registration.credentialNickname.get()}"> NickName </span></td>
                                <td><span th:text="${registration.registrationTime}"> Registered </span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <hr />

                <form class="form-group" th:action="@{/logout}" method="post">
                    <input type="submit" value="Sign Out" class="secondary" />
                </form>
            </div>
        </div>
    </body>
</html>
