<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>WebAuthn Example </title>

        <link href="/css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <div class="container">
            <div class="card card--login">
                <div th:if="${param.logout}">
                    <p>You have been logged out.</p>
                </div>

                <form class="form-signin" th:action="@{/login}" method="post">
                    <h1 class="form-signin-heading">Please sign in</h1>
                    <p>Example: user / password</p>
                    <label class="input-group">
                        <input
                            type="text"
                            id="username"
                            name="username"
                            class="form-control"
                            required
                            autofocus
                        />
                        <span>User Name<sup>*</sup></span>
                    </label>
                    <label class="input-group">
                        <input
                            type="password"
                            id="password"
                            name="password"
                            class="form-control"
                            required
                            autofocus
                        />
                        <span>Password<sup>*</sup></span>
                    </label>
                    <p th:if="${param.error}" class="error">
                        Invalid username and password.
                    </p>
                    <input type="submit" value="Sign In"/>
                </form>

                <hr />

                </p>
                <p><a href="/index" th:href="@{/home}">Back to home page</a></p>
            </div>
            </div>
    </body>
</html>