<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Account</title>

        <link href="/css/styles.css" rel="stylesheet" />

        <meta th:name="_csrf" th:content="${_csrf.token}"/>
        <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script type="module" src="/lib/fetch/fetch-3.0.0.js"></script>
        <script src="/lib/base64js/base64js-1.3.0.min.js"></script>
        <script src="/js/base64url.js"></script>
        <script src="/js/webauthn.js"></script>

        <script>
            $(function () {
                $('#takeAction').hide();
            });

            function setStatus(statusText, success) {
                $('#status').text(statusText);
                if (success) {
                    $('#status').removeClass('error');
                } else {
                    $('#status').addClass('error');
                }
            }

            function submitResponse(url, requestId, response) {
                console.log('submitResponse', url, requestId, response);
        
                var token = $("meta[name='_csrf']").attr("content"); 
        
                const body = {
                    requestId,
                    credential: response,
                };
                console.log('body', JSON.stringify(body));
                
                return fetch(url, {
                    method: 'POST',
                    headers: {
                        'X-CSRF-TOKEN': token
                    },
                    body: JSON.stringify(body),
                }).then(response => response.json())
                ;
            }
        
            function register() {
                $('#takeAction').show();
                const username = '[[${#authentication.getPrincipal().getUsername()}]]';
                const displayName = '[[${#authentication.getPrincipal().getUsername()}]]';
                const credentialNickname = $("#inputNickname").val();
                const requireResidentKey = true;
        
                var token = $("meta[name='_csrf']").attr("content");
        
                return fetch('/register', {
                    method: 'POST',
                    headers: {
                        'X-CSRF-TOKEN': token
                    },
                    body: new URLSearchParams({
                        username,
                        displayName,
                        credentialNickname,
                        requireResidentKey,
                    })
                    
                })
                .then(response => response.json())
                .then(function(request) {
                    console.log('request succeeded with JSON response', request)
                    
                    return webauthn.createCredential(request.publicKeyCredentialCreationOptions)
                    .then(webauthn.responseToObject)
                    .then(function (publicKeyCredential) { 
                        console.log("publicKeyCredential ", publicKeyCredential);
            
                        url = '/register/finish';
                        return submitResponse(url, request.requestId, publicKeyCredential);
                    })
                    .catch(error => {
                        throw error;
                    })
                    ;
                })
                .then(data => {
                    $('#takeAction').hide();
                    console.log(data);
                    setStatus("Success!", true);
                    $('#no-keys').hide();
                    $('#keys').show();
                    $('#inputNickname').val('');
                    $('#keys').append(`
                        <tr>
                            <td>${data.registration.credentialNickname}</td>
                            <td>${data.registration.registrationTime}</td>
                        </tr>
                    `);
                    return data;
                })
                .catch(error => {
                    $('#takeAction').hide();
                    console.log('register', error);
                    setStatus(error.message, false);
                })
                ;
            }

            function performAuthentication(username, token) {
                 return fetch('/authenticate', {
                    method: 'POST',
                    headers: {
                        'X-CSRF-TOKEN': token
                    },
                })
                .then(response => response.json())
                .then(function(request) {
                    console.log('request succeeded with JSON response', request)
                    
                    return webauthn.getAssertion(request.publicKeyCredentialRequestOptions)
                    .then(webauthn.responseToObject)
                    .then(function (publicKeyCredential) { 
                        console.log("publicKeyCredential ", publicKeyCredential);
            
                        url = '/authenticate/finish';
                        return submitResponse(url, request.requestId, publicKeyCredential)
                    })
                    .catch(error => {
                        console.log(error);
                    })
                    ;
                })
                .then(data => {
                    if (data && data.success) {
                        console.log("Success!");
                        setStatus('Success!', false);
                    } else {
                        console.log("Error!");
                        setStatus('Error!', true);
                    }
                    $('#takeAction').hide();
                    return data;
                })
                .catch(error => {
                    console.log(error);
                })
                ;
            }
        </script>
    </head>
    <body>
        <sec:authentication property="name" var="username" />
        <div class="container">
            <div class="card card--account">
                <div class="account-header">
                    <svg style="fill: #9c9c9c;" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation">
                        <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 3c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm0 14.2c-2.5 0-4.71-1.28-6-3.22.03-1.99 4-3.08 6-3.08 1.99 0 5.97 1.09 6 3.08-1.29 1.94-3.5 3.22-6 3.22z"></path>
                        <path fill="none" d="M0 0h24v24H0z"></path>
                    </svg>
                    <div>
                        <h1 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]!</h1>
                        <p>You have successfully signed in. On this page you will find the security settings for your account.</p>
                    </div>
                </div>

                <div class="card card--internal">
                    <h2 class="section-header">Security Keys</h2>
                    <div th:if="${registrations.empty}" class="card card--error" id="no-keys">
                        <svg focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation">
                            <path fill="none" d="M0 0h24v24H0z"></path><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"></path>
                        </svg>
                        <p>Warning, no authenticators have been added and your account is not secure. Configure authenticators below.</p>
                    </div>
                    <table class="table" id="keys" th:classappend="${registrations.empty}? 'hide'">
                        <thead>
                            <tr>
                                <th> Nickname </th>
                                <th> Registration Time </th>
                            </tr>
                        </thead>
                        <tbody id="keys">
                            <tr th:each="registration : ${registrations}" >
                                <td><span th:text="${registration.credentialNickname.get()}"> NickName </span></td>
                                <td><span th:text="${registration.registrationTime}"> Registered </span></td>
                            </tr>
                        </tbody>
                    </table>
    
                    <h2 class="section-header">Register a Security Key</h2>
                    <label class="input-group">
                        <input type="text" id="inputNickname">
                        <span>Nickname</span>
                    </label>
                    <button onclick="register()">Register</button>
                    <p id="status"></p>
                    <div id="takeAction">
                        <p>Please insert and take action on the security key.</p>
                        <div class="loader-container" role="status">
                            <svg class="loader" viewBox="22 22 44 44"><circle class="loader-circle" cx="44" cy="44" r="20.2" fill="none" stroke-width="3.6"></circle></svg>
                        </div>
                    </div>
                </div>

                <hr />

                <form class="form-group" th:action="@{/logout}" method="post">
                    <input type="submit" value="Sign Out" class="secondary" />
                </form>
            </div>
        </div>
    </body>
</html>
