<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>WebAuthn Passwordless Sign In Example</title>

        <link href="/css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <div class="container">
            <div class="card card--home">
                <h1>Welcome to the Passwordless Workshop Demo!</h1>
        
                <p>Click <a th:href="@{/account}">here</a> to register a security key.</p>
            </div>
        </div>
    </body>
</html>
