<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>WebAuthn Example </title>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
        <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous" />
    </head>
    <body>
        <div class="container">
            <div th:if="${param.error}" class="error">
                Invalid username and password.
            </div>
            <div th:if="${param.logout}">
                You have been logged out.
            </div>
            <form class="form-signin" th:action="@{/login}" method="post">
                <h2 class="form-signin-heading">Please sign in</h2>
                <p>Example: user / password</p>
                <p><label for="username" class="sr-only"> User Name : </label>
                    <input type="text" id="username" name="username" class="form-control" placeholder="user" required
                    autofocus/> </p>
                <p><label for="password" class="sr-only"> Password: </label>
                    <input type="password" id="password" name="password" class="form-control" placeholder="password"
                    required autofocus/> </p>
                <p><input class="btn btn-lg btn-primary btn-block" type="submit" value="Sign In"/></p>
            </form>
        </div>
    </body>
</html>